*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body{
  overflow-x: hidden;
}

.logo{
  background-color: #6D6875;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo a{
  text-decoration: none;
  color: white;
  text-align: center; /* Center the text inside the a tag */
  margin: 0 auto; /* Ensure the a tag takes only the required space */
  margin-top: 10px;
}

.logo a img{
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

img[alt="STEP-UP LOGO"]{
width: 8%;
height: 90px;
margin-left: 50px;
}

.nav{
  display: flex;
  justify-content: center;
  background-color: #FEFAE0;
}

.navbar{
  display: flex;
  margin-top: -30px;
  width: 60%;
  justify-content: center;
  border-radius: 40px;
  padding: 25px;
  background-color: white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.navbar li{
  list-style: none;
  margin: 0 25px;
}

.navbar li a{
  text-decoration: none;
  color: black;
  position: relative;
}

/* Style for active link */
.navbar li a.active {
  color: black; /* Ensure the text stays black */
  padding-bottom: 5px; /* Add padding to push the text away from the line */
}

.navbar li a.active::after {
  content: ''; /* Empty content for the line */
  position: absolute;
  bottom: 0; /* Position it right below the text */
  left: 0;
  width: 100%; /* Make the line the same width as the text */
  height: 4px; /* Height of the red line */
  border: 2px solid #D24259;
  border-radius: 10px; /* Rounded corners for the line */
}

#our{
  transition: all 0.5s ease; /* Smooth transition for hover effects */
}

#our:hover{
  background-color: #F67682;
  color: white;
}


main{
  background-color: #FEFAE0;
}

img[alt="Main Image"]{
  width: 100%;
  margin-top: -40px;
  z-index: -1;
}

.clouds{
  display: flex;
  justify-content: center;
}

.clouds img{
  width: 50%;
  height: 200px;
  position: absolute;
  top: 20rem;
}

.child{
  position: absolute;
  top: 23rem;
  font-size: 2.6rem;
  color: #AD3946;
  left: 38%;
}

.child-content{
  position: relative;
  bottom: 25rem;
}

#child-play, #independence, #little{
  display: flex;
  justify-content: center;
}

#child-play p{
  padding: 10px 15px;
  background-color: #6D6875;
  color: white;
  font-family: "Preahvihear";
  display: inline;
  font-size: 0.9rem;
  max-width: 75%;
}


#independence p{
  text-align: center;
  padding: 6px 10px;
  background-color: #6D6875;
  color: white;
  display: inline;
  border-radius: 8px;
  margin-top: 50px;
  font-size: 0.8rem;
}

#little p{
  background-color: #FF788C;
  text-align: center;
  padding: 5px 10px;
  color: white;
  display: inline;
  border-radius: 8px;
  margin-top: 4px;
  font-size: 0.8rem;
}

.childrens-image{
  display: flex;
  justify-content: center;
}

.childrens-image img{
  width: 60%;
  margin-top: -300px;
}

.navigation-arrows {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.circle-arrow {
  display: inline-block;
  width: 50px;        /* Size of the circle */
  height: 50px;       /* Size of the circle */
  border-radius: 50%; /* Makes the element circular */
  background-color: black; /* Background color of the circle */
  color: white;       /* Arrow color */
  font-size: 30px;    /* Arrow size */
  text-align: center; /* Center the ">" symbol inside the circle */
  line-height: 50px;  
  text-decoration: none; /* Remove underline from the link */
  transition: background-color 0.3s;
}

.circle-arrow:hover {
  background-color: #9B904D; /* Darker color on hover */
}


img[alt="CURVE IMAGE"]{
  position: relative;
  top: 3.5rem;
  left: 3%;
  height: 100px;
  width: 9%;
  z-index: 99;
}


footer{
  position: relative;
  z-index: 1;
}

.info{
  display: flex;
  justify-content: space-around;
  background-color: #005D8D;
}

.contact{
  margin-left: 150px;
  margin-top: 40px;
}

.whatsapp, .email, .location{
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.circle-foot {
  width: 45px; /* Adjust the size of the circle image */
  height: 45px; /* Adjust the size of the circle image */
  border-radius: 50%;
  background-color: #D24259;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.circle-img {
    object-fit: cover; 
    padding: 8px;  
}

.whatsapp-content a, .email-content a, .location-content a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.whatsapp-content p, .email-content p{
margin-top: 8px;
}

.logo1{
  margin-top: 20px;
  margin-left: 300px;
}

.logo1 img{
  width: 30%;
  height: 150px;
}

.logo1 p{
  padding-bottom: 20px;
  color: white;
  font-size: 1rem;
  padding-right: 150px;
  font-weight: bold;
}

.copyright{
  background-color: black;
  padding: 20px;
}

.copyright h6{
  text-align: center;
  color: white;
}

.copyright a{
  color: royalblue;
  text-decoration: none;
}







/* Responsive Design */

@media only screen and (min-width: 320px) and (max-width: 401px){


  img[alt="STEP-UP LOGO"] {
    width: 15%;
    height: 55px;
    margin-left: 12px;
  }
  
  .logo a{
    margin-top: 5px;
    font-size: 0.5rem;
  }
  
  .logo a img{
    height: 15px;
    width: 15px;
  }
  
  .navbar {
    margin-top: -12px;
    width: 80%;
    padding: 5px;
  }
  
  .navbar li {
    margin: -2px 6px;
    margin-top: -10px;
  }
  
  .navbar li a{
    font-size: 0.4rem;
  }
  }
  

@media only screen and (min-width: 400px) and (max-width: 480px){


img[alt="STEP-UP LOGO"] {
  width: 15%;
  height: 60px;
  margin-left: 12px;
}

.logo a{
  margin-top: 5px;
  font-size: 0.5rem;
}

.logo a img{
  height: 15px;
  width: 15px;
}

.navbar {
  margin-top: -12px;
  width: 80%;
  padding: 5px;
}

.navbar li {
  margin: -2px 8px;
  margin-top: -6px;
}

.navbar li a{
  font-size: 0.5rem;
}
}

@media only screen and (max-width: 480px){
  
  img[alt="Main Image"] {
    width: 100%;
    margin-top: -14px;
  }

  .clouds img {
    width: 50%;
    top: 6rem;
    height: auto;
  }

.child {
    top: 8rem;
    font-size: 0.6rem;
    left: 42%;
}

.child-content{
  bottom: 7rem;
}

#child-play p {
  padding: 5px 8px;
  font-size: 0.5rem;
}

#independence p {
  padding: 4px 5px;
  margin-top: 25px;
  font-size: 0.5rem;
}

#little p {
  padding: 4px 5px;
  font-size: 0.5rem;
}

.childrens-image img{
  margin-top: 15px;
}

img[alt="CURVE IMAGE"] {
  top: 0rem;
  left: 2%;
  height: 50px;
  width: 10%;
}

footer{
  margin-top: -30px;
}


.contact {
  margin-left: 10px;
  margin-top: 40px;
}

.whatsapp, .email, .location {
  margin-bottom: 15px;
}

.circle-foot {
  width: 30px;
  height: 30px;
}

.circle-img{
  padding: 6px;
    height: 30px;
    width: 30px;
}

.whatsapp-content a, .email-content a, .location-content a{
  font-size: 0.6rem;
}

.logo1{
  margin-left: 40px;
}

.logo1 img{
  width: 40%;
  height: auto;
}

.logo1 p{
    font-size: 0.6rem;
    padding-right: 10px;
    margin-bottom: 10px;
}

.copyright h6{
  font-size: 0.5rem;
}

.navigation-arrows{
  margin-top: 0;
  gap: 8px;
}

.circle-arrow{
  width: 30px;
  height: 30px;
  font-size: 25px;
  line-height: 30px;
}

}


@media only screen and (min-width: 481px) and (max-width: 600px){

  img[alt="STEP-UP LOGO"] {
    width: 12%;
    height: 55px;
    margin-left: 12px;
  }
  
  .logo a{
    margin-top: 5px;
    font-size: 0.5rem;
  }
  
  .logo a img{
    height: 15px;
    width: 15px;
  }
  
  .navbar {
    margin-top: -12px;
    width: 80%;
    padding: 5px;
  }
  
  .navbar li {
    margin: -2px 15px;
    margin-top: -10px;
  }
  
  .navbar li a{
    font-size: 0.5rem;
  }
  }
  

@media only screen and (min-width: 601px) and (max-width: 767px){


img[alt="STEP-UP LOGO"] {
  width: 12%;
  height: 65px;
  margin-left: 12px;
}

.logo a{
  margin-top: 5px;
  font-size: 0.5rem;
}

.logo a img{
  height: 15px;
  width: 15px;
}

.navbar {
  margin-top: -12px;
  width: 80%;
  padding: 10px;
}

.navbar li {
  margin: -2px 20px;
  margin-top: -6px;
}

.navbar li a{
  font-size: 0.6rem;
}
}

@media only screen and (min-width: 481px) and (max-width: 767px){
 
  img[alt="Main Image"] {
    width: 100%;
    margin-top: -14px;
  }

  .clouds img {
    width: 50%;
    top: 6rem;
    height: auto;
  }

.child {
    top: 9rem;
    font-size: 1rem;
    left: 38%;
}

.child-content{
  bottom: 7rem;
}

#child-play p {
  padding: 5px 8px;
  font-size: 0.6rem;
}

#independence p {
  padding: 4px 5px;
  margin-top: 25px;
  font-size: 0.6rem;
}

#little p {
  padding: 4px 5px;
  font-size: 0.6rem;
}

.childrens-image img{
  margin-top: 0px;
}


footer{
  margin-top: -30px;
}

.contact {
  margin-left: 10px;
  margin-top: 40px;
}

.whatsapp, .email, .location {
  margin-bottom: 15px;
}

.circle-foot {
  width: 30px;
  height: 30px;
}

.circle-img{
  padding: 6px;
    height: 30px;
    width: 30px;
}

.whatsapp-content a, .email-content a, .location-content a{
  font-size: 0.6rem;
}

.logo1{
  margin-left: 90px;
}

.logo1 img{
  width: 25%;
  height: auto;
}

.logo1 p{
    font-size: 0.6rem;
    padding-right: 70px;
    margin-bottom: 10px;
}

img[alt="CURVE IMAGE"] {
  top: 0rem;
  left: 2%;
  height: 50px;
  width: 10%;
}

.copyright h6{
  font-size: 0.5rem;
}

.navigation-arrows{
  margin-top: 0;
  gap: 8px;
}

.circle-arrow{
  width: 30px;
  height: 30px;
  font-size: 25px;
  line-height: 30px;
}

}

@media only screen and (min-width: 600px) and (max-width: 767px) {

  .child {
    top: 13rem;
    font-size: 1rem;
    left: 40%;
}

.clouds img {
  width: 50%;
  top: 10rem;
}


img[alt="Main Image"] {
  margin-top: -25px;
}

img[alt="CURVE IMAGE"] {
  width: 8%;
}

}


@media only screen and (min-width: 768px) and (max-width: 900px){


  img[alt="STEP-UP LOGO"] {
    width: 8%;
    height: 65px;
    margin-left: 12px;
  }
  
  .logo a{
    margin-top: 8px;
    font-size: 0.6rem;
  }
  
  .logo a img{
    height: 20px;
    width: 20px;
  }
  
  .navbar {
    margin-top: -12px;
    width: 72%;
    padding: 15px;
  }
  
  .navbar li {
    margin: -2px 22px;
    margin-top: -10px;
  }
  
  .navbar li a{
    font-size: 0.7rem;
  }
  }
  

@media only screen and (min-width: 901px) and (max-width: 1024px){


img[alt="STEP-UP LOGO"] {
  width: 8%;
  height: 65px;
  margin-left: 12px;
}

.logo a{
  margin-top: 5px;
  font-size: 0.7rem;
}

.logo a img{
  height: 20px;
  width: 20px;
}

.navbar {
  margin-top: -18px;
  width: 68%;
  padding: 15px;
}

.navbar li {
  margin: -2px 25px;
  margin-top: -6px;
}

.navbar li a{
  font-size: 0.7rem;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){

  img[alt="Main Image"] {
    width: 100%;
    margin-top: -30px;
  }

  .clouds img {
    width: 50%;
    top: 11rem;
    height: auto;
  }

.child {
    top: 14rem;
    font-size: 1.5rem;
    left: 40%;
}

.child-content{
  bottom: 10rem;
}

#child-play p {
  padding: 5px 8px;
  font-size: 0.7rem;
}

#independence p {
  padding: 4px 5px;
  margin-top: 25px;
  font-size: 0.7rem;
}

#little p {
  padding: 4px 5px;
  font-size: 0.7rem;
}

.childrens-image img{
  margin-top: 0px;
}

footer{
  margin-top: -30px; 
 }
 
 .contact {
   margin-left: 70px;
   margin-top: 40px;
 }
 
 .whatsapp, .email, .location {
   margin-bottom: 15px;
 }
 
 .circle-foot {
   width: 35px;
   height: 35px;
 }
 
 .circle-img{
   padding: 6px;
     height: 35px;
     width: 35px;
 }
 
 .whatsapp-content a, .email-content a, .location-content a{
   font-size: 0.8rem;
 }
 
 .logo1{
   margin-left: 120px;
 }
 
 .logo1 img{
   width: 25%;
   height: auto;
 }
 
 .logo1 p{
     font-size: 0.8rem;
     padding-right: 70px;
     margin-bottom: 10px;
 }
 
 img[alt="CURVE IMAGE"] {
   top: 0rem;
   left: 3%;
   height: 50px;
   width: 6%;
 }
 
 .copyright h6{
   font-size: 0.6rem;
 }

 .navigation-arrows{
  margin-top: 0;
  gap: 8px;
}

.circle-arrow{
  width: 35px;
  height: 35px;
  font-size: 28px;
  line-height: 35px;
}

}


@media only screen and (min-width: 1025px) and (max-width: 1200px) {

  .navbar {
    padding: 10px;
  }

  .navbar li {
    margin: 0 22px;
  }

  .navbar li a {
    font-size: 0.8rem;
  }

  img[alt="CURVE IMAGE"] {
    top: 2.5rem;
    left: 2%;
    height: 70px;
    width: 7%;
  }

  img[alt="Main Image"] {
    margin-top: -15px;
  }

  .clouds img{
    top: 13rem;
  }

  .child{
    top: 16rem;
  }

  .child-content{
    bottom: 15rem;
  }

  .childrens-image img{
    margin-top: -150px;
  }

  .logo1 {
    margin-left: 110px;
  }

}


@media only screen and (min-width: 1440px) {

 .logo1 img {
  width: 20%;
  height: auto;
}

.clouds img{
  height: 350px;
}

.child{
left: 44%;
top: 27rem;
}

.child-content{
  bottom: 40rem;
}

.childrens-image img{
  margin-top: -450px;
}

img[alt="CURVE IMAGE"] {
  height: 120px;
  width: 5%;
}
}