* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  overflow-x: hidden;
}

.logo {
  background-color: #6D6875;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo a {
  text-decoration: none;
  color: white;
  text-align: center;
  /* Center the text inside the a tag */
  margin: 0 auto;
  /* Ensure the a tag takes only the required space */
  margin-top: 10px;
}

.logo a img {
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

img[alt="STEP-UP LOGO"] {
  width: 8%;
  height: 90px;
  margin-left: 50px;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #FEFAE0;
}

.navbar {
  display: flex;
  margin-top: -30px;
  width: 60%;
  justify-content: center;
  border-radius: 40px;
  padding: 25px;
  background-color: white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.navbar li {
  list-style: none;
  margin: 0 25px;
}

.navbar li a {
  text-decoration: none;
  color: black;
  position: relative;
}

/* Style for active link */
.navbar li a.active {
  color: black;
  /* Ensure the text stays black */
  padding-bottom: 5px;
  /* Add padding to push the text away from the line */
}

.navbar li a.active::after {
  content: '';
  /* Empty content for the line */
  position: absolute;
  bottom: 0;
  /* Position it right below the text */
  left: 0;
  width: 100%;
  /* Make the line the same width as the text */
  height: 4px;
  /* Height of the red line */
  border: 2px solid #D24259;
  border-radius: 10px;
  /* Rounded corners for the line */
}

#our {
  transition: all 0.5s ease;
  /* Smooth transition for hover effects */
}

#our:hover {
  background-color: #F67682;
  color: white;
}

main {
  background-color: #FEFAE0;
}

/* img[alt="MIAN IMAGE WITH BOTTOM CURVE"] {
  width: 100%;
  margin-top: 30px;
} */

.our-therapies {
  display: flex;
  background-image: url('../images/00202020.png');
  width: 100%;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.our-therapies img {
  width: 40%;
  margin-right: 60px;
  height: 400px;
}

.therapies-content {
  margin-left: 120px;
  margin-top: 20px;
}

.therapies-content h1 {
  font-size: 5rem;
  font-family: "Poetsen One";
  color: rgb(109, 107, 107);
}

.therapies-content h2 {
  font-size: 4rem;
  color: #D24259;
}

.therapies-content p {
  font-size: 0.8rem;
  color: grey;
  max-width: 70%;
}

.occupational-therapy,
.speech-therapy,
.behaviour-therapy,
.remedial-therapy,
.special-education-therapy {
  display: flex;
  margin-top: 80px;
}

.occupational-therapy img,
.behaviour-therapy img,
.special-education-therapy img {
  width: 35%;
  margin-left: 50px;
  transition: transform 0.3s ease-in-out;
  /* Smooth transition for the zoom effect */
}

.occupational-therapy img:hover,
.behaviour-therapy img:hover,
.special-education-therapy img:hover {
  transform: scale(1.1);
  /* Scale the image by 10% on hover */
}

.speech-therapy img,
.remedial-therapy img {
  width: 35%;
  margin-right: 50px;
  transition: transform 0.3s ease-in-out;
  /* Smooth transition for the zoom effect */
}

.speech-therapy img:hover,
.remedial-therapy img:hover {
  transform: scale(1.1);
  /* Scale the image by 10% on hover */
}

.occupational-therapy-content,
.speech-therapy-content,
.behaviour-therapy-content,
.remedial-therapy-content,
.special-education-therapy-content {
  text-align: center;
  margin-top: 50px;
  padding: 0 30px;
}

.occupational-therapy-content h1,
.speech-therapy-content h1,
.behaviour-therapy-content h1,
.remedial-therapy-content h1,
.special-education-therapy-content h1 {
  font-size: 4rem;
  color: #D24259;
}

.occupational-therapy-content h2,
.speech-therapy-content h2,
.behaviour-therapy-content h2,
.remedial-therapy-content h2,
.special-education-therapy-content h2 {
  color: rgb(109, 107, 107);
  font-size: 3rem;
  margin-top: -25px;
}

.occupational-therapy p,
.speech-therapy-content p,
.behaviour-therapy-content p,
.remedial-therapy-content p,
.special-education-therapy-content p {
  font-size: 0.8rem;
}

img[alt="CURVE IMAGE"] {
  position: relative;
  top: 3.5rem;
  left: 3%;
  height: 100px;
  width: 9%;
  z-index: 99;
}

footer {
  position: relative;
  z-index: 1;
}

.info {
  display: flex;
  justify-content: space-around;
  background-color: #0585C6;
  position: relative;
  z-index: 10;
}

.wave-container {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: -1;
  /* Keep the wave behind the content */
}

.contact {
  margin-left: 150px;
  margin-top: 40px;
}

.whatsapp,
.email,
.location {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.circle-foot {
  width: 45px;
  /* Adjust the size of the circle image */
  height: 45px;
  /* Adjust the size of the circle image */
  border-radius: 50%;
  background-color: #D24259;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.circle-img {
  object-fit: cover;
  padding: 8px;
}

.whatsapp-content a,
.email-content a,
.location-content a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.whatsapp-content p,
.email-content p {
  margin-top: 8px;
}

.logo1 {
  margin-top: 20px;
  margin-left: 300px;
}

.logo1 img {
  width: 30%;
  height: 150px;
}

.logo1 p {
  padding-bottom: 20px;
  color: white;
  font-size: 1rem;
  padding-right: 150px;
  font-weight: bold;
}

.copyright {
  background-color: black;
  padding: 20px;
}

.copyright h6 {
  text-align: center;
  color: white;
}

.copyright a {
  color: royalblue;
  text-decoration: none;
}


/* Responsive Design */

@media only screen and (min-width: 320px) and (max-width: 401px) {


  img[alt="STEP-UP LOGO"] {
    width: 15%;
    height: 55px;
    margin-left: 12px;
  }

  .logo a {
    margin-top: 5px;
    font-size: 0.5rem;
  }

  .logo a img {
    height: 15px;
    width: 15px;
  }

  .navbar {
    margin-top: -12px;
    width: 80%;
    padding: 5px;
  }

  .navbar li {
    margin: -2px 6px;
    margin-top: -10px;
  }

  .navbar li a {
    font-size: 0.4rem;
  }
}


@media only screen and (min-width: 400px) and (max-width: 480px) {


  img[alt="STEP-UP LOGO"] {
    width: 15%;
    height: 60px;
    margin-left: 12px;
  }

  .logo a {
    margin-top: 5px;
    font-size: 0.5rem;
  }

  .logo a img {
    height: 15px;
    width: 15px;
  }

  .navbar {
    margin-top: -12px;
    width: 80%;
    padding: 5px;
  }

  .navbar li {
    margin: -2px 8px;
    margin-top: -6px;
  }

  .navbar li a {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 480px) {

  header {
    width: 100%;
    height: 100%;
  }

  main {
    height: 100%;
    width: 100%;
  }

  footer {
    height: 100%;
    width: 100%;
  }

  .occupational-therapy,
  .speech-therapy,
  .behaviour-therapy,
  .remedial-therapy,
  .special-education-therapy {
    margin-top: 30px;
  }

  .occupational-therapy img,
  .behaviour-therapy img,
  .special-education-therapy img {
    width: 35%;
    margin-left: 6px;
  }

  .occupational-therapy-content,
  .speech-therapy-content,
  .behaviour-therapy-content,
  .remedial-therapy-content,
  .special-education-therapy-content {
    text-align: center;
    margin-top: 5px;
    padding: 0 8px;
  }

  .occupational-therapy-content h1,
  .speech-therapy-content h1,
  .behaviour-therapy-content h1,
  .remedial-therapy-content h1,
  .special-education-therapy-content h1 {
    font-size: 1rem;
  }

  .occupational-therapy-content h2,
  .speech-therapy-content h2,
  .behaviour-therapy-content h2,
  .remedial-therapy-content h2,
  .special-education-therapy-content h2 {
    font-size: 1rem;
    margin-top: -8px;
  }

  .occupational-therapy p,
  .speech-therapy-content p,
  .behaviour-therapy-content p,
  .remedial-therapy-content p,
  .special-education-therapy-content p {
    font-size: 0.4rem;
  }

  .speech-therapy img,
  .remedial-therapy img {
    width: 35%;
    margin-right: 10px;
  }

  img[alt="CURVE IMAGE"] {
    top: 1.8rem;
    left: 2%;
    height: 50px;
    width: 10%;
  }


  .contact {
    margin-left: 10px;
    margin-top: 40px;
  }

  .whatsapp,
  .email,
  .location {
    margin-bottom: 15px;
  }

  .circle-foot {
    width: 30px;
    height: 30px;
  }

  .circle-img {
    padding: 6px;
    height: 30px;
    width: 30px;
  }

  .whatsapp-content a,
  .email-content a,
  .location-content a {
    font-size: 0.6rem;
  }

  .logo1 {
    margin-left: 40px;
  }

  .logo1 img {
    width: 40%;
    height: auto;
  }

  .logo1 p {
    font-size: 0.6rem;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .copyright h6 {
    font-size: 0.5rem;
  }

}


@media only screen and (min-width: 320px) and (max-width: 410px) {

  .our-therapies {
    height: 150px;
  }

  .therapies-content h1 {
    font-size: 0.8rem;
  }

  .therapies-content h2 {
    font-size: 0.6rem;
  }

  .therapies-content p {
    font-size: 0.35rem;
  }

  .our-therapies img {
    width: 35%;
    margin-right: 15px;
    height: 110px;
  }

  .therapies-content {
    margin-left: 10px;
    margin-top: 10px;
  }

}

@media only screen and (min-width: 411px) and (max-width: 480px) {

  .our-therapies {
    height: 200px;
    margin-top: -15px;
  }

  .therapies-content h1 {
    font-size: 0.8rem;
  }

  .therapies-content h2 {
    font-size: 0.6rem;
  }

  .therapies-content p {
    font-size: 0.35rem;
  }

  .our-therapies img {
    width: 40%;
    margin-right: 15px;
    height: 120px;
    margin-top: 22px;
  }

  .therapies-content {
    margin-left: 15px;
    margin-top: 35px;
  }

}



@media only screen and (min-width: 481px) and (max-width: 600px) {

  img[alt="STEP-UP LOGO"] {
    width: 12%;
    height: 55px;
    margin-left: 12px;
  }

  .logo a {
    margin-top: 5px;
    font-size: 0.5rem;
  }

  .logo a img {
    height: 15px;
    width: 15px;
  }

  .navbar {
    margin-top: -12px;
    width: 80%;
    padding: 5px;
  }

  .navbar li {
    margin: -2px 15px;
    margin-top: -10px;
  }

  .navbar li a {
    font-size: 0.5rem;
  }
}


@media only screen and (min-width: 601px) and (max-width: 767px) {


  img[alt="STEP-UP LOGO"] {
    width: 12%;
    height: 65px;
    margin-left: 12px;
  }

  .logo a {
    margin-top: 5px;
    font-size: 0.5rem;
  }

  .logo a img {
    height: 15px;
    width: 15px;
  }

  .navbar {
    margin-top: -12px;
    width: 80%;
    padding: 10px;
  }

  .navbar li {
    margin: -2px 20px;
    margin-top: -6px;
  }

  .navbar li a {
    font-size: 0.6rem;
  }
}


@media only screen and (min-width: 481px) and (max-width: 767px) {

  header {
    width: 100%;
    height: 100%;
  }

  main {
    height: 100%;
    width: 100%;
  }

  footer {
    height: 100%;
    width: 100%;
    margin-top: -30px;
  }

  main {
    overflow-x: hidden;
  }

  .occupational-therapy,
  .speech-therapy,
  .behaviour-therapy,
  .remedial-therapy,
  .special-education-therapy {
    margin-top: 30px;
  }

  .occupational-therapy img,
  .behaviour-therapy img,
  .special-education-therapy img {
    width: 45%;
    margin-left: 6px;
  }

  .occupational-therapy-content,
  .speech-therapy-content,
  .behaviour-therapy-content,
  .remedial-therapy-content,
  .special-education-therapy-content {
    text-align: center;
    margin-top: 5px;
    padding: 0 8px;
  }

  .occupational-therapy-content h1,
  .speech-therapy-content h1,
  .behaviour-therapy-content h1,
  .remedial-therapy-content h1,
  .special-education-therapy-content h1 {
    font-size: 1.4rem;
  }

  .occupational-therapy-content h2,
  .speech-therapy-content h2,
  .behaviour-therapy-content h2,
  .remedial-therapy-content h2,
  .special-education-therapy-content h2 {
    font-size: 1.2rem;
    margin-top: -8px;
  }

  .occupational-therapy p,
  .speech-therapy-content p,
  .behaviour-therapy-content p,
  .remedial-therapy-content p,
  .special-education-therapy-content p {
    font-size: 0.5rem;
  }

  .speech-therapy img,
  .remedial-therapy img {
    width: 45%;
    margin-right: 10px;
  }

  .contact {
    margin-left: 10px;
    margin-top: 40px;
  }

  .whatsapp,
  .email,
  .location {
    margin-bottom: 15px;
  }

  .circle-foot {
    width: 30px;
    height: 30px;
  }

  .circle-img {
    padding: 6px;
    height: 30px;
    width: 30px;
  }

  .whatsapp-content a,
  .email-content a,
  .location-content a {
    font-size: 0.6rem;
  }

  .logo1 {
    margin-left: 90px;
  }

  .logo1 img {
    width: 25%;
    height: auto;
  }

  .logo1 p {
    font-size: 0.6rem;
    padding-right: 70px;
    margin-bottom: 10px;
  }

  img[alt="CURVE IMAGE"] {
    top: 0rem;
    left: 2%;
    height: 50px;
    width: 10%;
  }

  .copyright h6 {
    font-size: 0.5rem;
  }

}


@media only screen and (min-width: 601px) and (max-width: 767px) {

  .our-therapies {
    top: 14%;
  }

  img[alt="CURVE IMAGE"] {
    width: 8%;
  }

}

@media only screen and (min-width: 481px) and (max-width: 600px) {

  .our-therapies {
    height: 250px;
    margin-top: -15px;
  }

  .therapies-content h1 {
    font-size: 1rem;
  }

  .therapies-content h2 {
    font-size: 0.8rem;
  }

  .therapies-content p {
    font-size: 0.45rem;
  }

  .our-therapies img {
    width: 40%;
    margin-right: 15px;
    height: 130px;
    margin-top: 22px;
  }

  .therapies-content {
    margin-left: 15px;
    margin-top: 35px;
  }

}

@media only screen and (min-width: 601px) and (max-width: 767px) {

  .our-therapies {
    height: 300px;
    margin-top: -15px;
  }

  .therapies-content h1 {
    font-size: 1.2rem;
  }

  .therapies-content h2 {
    font-size: 1rem;
  }

  .therapies-content p {
    font-size: 0.55rem;
  }

  .our-therapies img {
    width: 40%;
    margin-right: 15px;
    height: 150px;
    margin-top: 40px;
  }

  .therapies-content {
    margin-left: 20px;
    margin-top: 50px;
  }

}



@media only screen and (min-width: 768px) and (max-width: 900px) {


  img[alt="STEP-UP LOGO"] {
    width: 8%;
    height: 65px;
    margin-left: 12px;
  }

  .logo a {
    margin-top: 8px;
    font-size: 0.6rem;
  }

  .logo a img {
    height: 20px;
    width: 20px;
  }

  .navbar {
    margin-top: -12px;
    width: 72%;
    padding: 15px;
  }

  .navbar li {
    margin: -2px 22px;
    margin-top: -10px;
  }

  .navbar li a {
    font-size: 0.7rem;
  }
}


@media only screen and (min-width: 901px) and (max-width: 1024px) {


  img[alt="STEP-UP LOGO"] {
    width: 8%;
    height: 65px;
    margin-left: 12px;
  }

  .logo a {
    margin-top: 5px;
    font-size: 0.7rem;
  }

  .logo a img {
    height: 20px;
    width: 20px;
  }

  .navbar {
    margin-top: -18px;
    width: 68%;
    padding: 15px;
  }

  .navbar li {
    margin: -2px 25px;
    margin-top: -6px;
  }

  .navbar li a {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {


  main {
    overflow-x: hidden;
  }

  img[alt="MIAN IMAGE WITH BOTTOM CURVE"] {
    width: 100%;
    margin-top: 15px;
    height: 270px;
  }

  .our-therapies {
    top: 9%;
  }

  .therapies-content {
    margin-left: 50px;
  }

  .therapies-content h1 {
    font-size: 1.5rem;
  }

  .therapies-content h2 {
    font-size: 1.2rem;
  }

  .therapies-content p {
    font-size: 0.6rem
  }

  .our-therapies img {
    width: 40%;
    margin-right: 15px;
    margin-top: -30px;
  }

  .occupational-therapy,
  .speech-therapy,
  .behaviour-therapy,
  .remedial-therapy,
  .special-education-therapy {
    margin-top: 30px;
  }

  .occupational-therapy img,
  .behaviour-therapy img,
  .special-education-therapy img {
    width: 45%;
    margin-left: 6px;
  }

  .occupational-therapy-content,
  .speech-therapy-content,
  .behaviour-therapy-content,
  .remedial-therapy-content,
  .special-education-therapy-content {
    text-align: center;
    margin-top: 5px;
    padding: 0 8px;
  }

  .occupational-therapy-content h1,
  .speech-therapy-content h1,
  .behaviour-therapy-content h1,
  .remedial-therapy-content h1,
  .special-education-therapy-content h1 {
    font-size: 1.8rem;
  }

  .occupational-therapy-content h2,
  .speech-therapy-content h2,
  .behaviour-therapy-content h2,
  .remedial-therapy-content h2,
  .special-education-therapy-content h2 {
    font-size: 1.5rem;
    margin-top: -8px;
  }

  .occupational-therapy p,
  .speech-therapy-content p,
  .behaviour-therapy-content p,
  .remedial-therapy-content p,
  .special-education-therapy-content p {
    font-size: 0.7rem;
  }

  .speech-therapy img,
  .remedial-therapy img {
    width: 45%;
    margin-right: 10px;
  }

  footer {
    margin-top: -30px;
  }

  .contact {
    margin-left: 70px;
    margin-top: 40px;
  }

  .whatsapp,
  .email,
  .location {
    margin-bottom: 15px;
  }

  .circle-foot {
    width: 35px;
    height: 35px;
  }

  .circle-img {
    padding: 6px;
    height: 35px;
    width: 35px;
  }

  .whatsapp-content a,
  .email-content a,
  .location-content a {
    font-size: 0.8rem;
  }

  .logo1 {
    margin-left: 120px;
  }

  .logo1 img {
    width: 25%;
    height: auto;
  }

  .logo1 p {
    font-size: 0.8rem;
    padding-right: 70px;
    margin-bottom: 10px;
  }

  img[alt="CURVE IMAGE"] {
    top: 0rem;
    left: 3%;
    height: 50px;
    width: 6%;
  }

  .copyright h6 {
    font-size: 0.6rem;
  }

}

@media only screen and (min-width: 768px) and (max-width: 900px) {

  .our-therapies {
    height: 350px;
    margin-top: -15px;
  }

  .therapies-content h1 {
    font-size: 1.5rem;
  }

  .therapies-content h2 {
    font-size: 1.2rem;
  }

  .therapies-content p {
    font-size: 0.65rem;
  }

  .our-therapies img {
    width: 40%;
    margin-right: 15px;
    height: 170px;
    margin-top: 45px;
  }

  .therapies-content {
    margin-left: 25px;
    margin-top: 55px;
  }

}

@media only screen and (min-width: 901px) and (max-width: 1024px) {

  .our-therapies {
    height: 400px;
    margin-top: -15px;
  }

  .therapies-content h1 {
    font-size: 1.8rem;
  }

  .therapies-content h2 {
    font-size: 1.5rem;
  }

  .therapies-content p {
    font-size: 0.75rem;
  }

  .our-therapies img {
    width: 40%;
    margin-right: 15px;
    height: 190px;
    margin-top: 50px;
  }

  .therapies-content {
    margin-left: 30px;
    margin-top: 60px;
  }

}


@media only screen and (min-width: 1025px) and (max-width: 1200px) {

  .navbar {
    padding: 10px;
  }

  .navbar li {
    margin: 0 22px;
  }

  .navbar li a {
    font-size: 0.8rem;
  }

  img[alt="CURVE IMAGE"] {
    top: 2.5rem;
    left: 2%;
    height: 70px;
    width: 7%;
  }

  .our-therapies {
    top: 20%;
  }

  .logo1 {
    margin-left: 110px;
  }

  .our-therapies {
    height: 450px;
    margin-top: -15px;
  }

  .therapies-content h1 {
    font-size: 2rem;
  }

  .therapies-content h2 {
    font-size: 1.8rem;
  }

  .therapies-content p {
    font-size: 0.8rem;
  }

  .our-therapies img {
    width: 40%;
    margin-right: 15px;
    height: 240px;
    margin-top: 50px;
  }

  .therapies-content {
    margin-left: 30px;
    margin-top: 60px;
  }

}

@media only screen and (min-width: 1440px) {
  .logo1 img {
    width: 20%;
    height: auto;
  }

  img[alt="CURVE IMAGE"] {
    height: 120px;
    width: 5%;
  }

}

@media only screen and (min-width: 1350px) {

  .our-therapies {
    height: 650px;
    margin-top: -15px;
  }
}

@media only screen and (min-width: 1351px) and (max-width: 1750px) {

  .occupational-therapy-content, .behaviour-therapy-content, .remedial-therapy-content, .special-education-therapy-content{
    max-width: 50%;
    padding-left: 150px;
  }

   .speech-therapy-content, .remedial-therapy-content{
    padding-right: 150px;
    padding-left: 150px;

  }
}

@media only screen and (min-width: 1351px) and (max-width: 1750px) {

  .our-therapies {
    height: 650px;
    margin-top: -15px;
  }

  .therapies-content {
    margin-top: 120px;
  }

  .our-therapies img {
    margin-top: 60px;
  }

}

@media only screen and (min-width: 1751px) and (max-width: 2000px) {

  .our-therapies {
    height: 900px;
    margin-top: -15px;
  }

  .therapies-content {
    margin-top: 150px;
  }

  .our-therapies img {
    margin-top: 150px;
  }

}

@media only screen and (min-width: 2001px) and (max-width: 2400px) {

  .our-therapies {
    height: 900px;
    margin-top: -15px;
  }

  .therapies-content {
    margin-top: 180px;
  }

  .our-therapies img {
    margin-top: 180px;
  }

}

@media only screen and (min-width: 2401px) and (max-width: 2900px) {

  .our-therapies {
    height: 1100px;
    margin-top: -15px;
  }

  .therapies-content {
    margin-top: 180px;
  }

  .our-therapies img {
    margin-top: 180px;
  }

}